@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* CSS */

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* ==== IMAGES === */

img {
  border-radius: 4px;
  width: 150px;
  height: 150px;
}
img:hover { 
  border: 3px solid #fca103; 
}
.clickedImg { 
  border: 3px solid #03fca1; 
}

/*=================*/


.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  overflow: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


html { width: 100%; height:100%; overflow:auto; }

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	color: #fff;
	font-size: 18px;
	text-align:center;
	letter-spacing:1.2px;
    background: #060538;
}

h1 {
	font-size: 36pt;
	font-weight: 800;
}

