@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* CSS */

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* ==== IMAGES === */

img {
  margin: 3px 3px 3px 3px;
  border-radius: 4px;
  width: 150px;
  height: 150px;
}
img:hover { 
  margin: 0 0 0 0;
  border: 3px solid #fca103; 
}
.clickedImg { 
  margin: 0 0 0 0;
  border: 3px solid #03fca1; 
}

/*=================*/


.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  overflow: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


html { width: 100%; height:100%; overflow:auto; }

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	color: #fff;
	font-size: 18px;
	text-align:center;
	letter-spacing:1.2px;
    background: #060538;
}

h1 {
	font-size: 36pt;
	font-weight: 800;
}

.menu{
    width: 14rem;
    height: 5rem;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 2px #999;
    border-radius: 0.2rem;
    list-style: none;
    position: fixed;
    text-align: left;
    padding: 1rem 0 0 1.5rem;
}
.menu.off{
    top: -200%;
    left: -200%;
}
.menu-item{
    height: 2.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
.menu-item:hover,
.menu-item:active{
    color: #000;
    font-weight: 600;
}
