<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/colorpicker.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">  

  <script type="text/javascript" src="/static/js/iro.min.js"></script>
  <script type="text/javascript" src="/static/js/displayImg.js"></script>
  <script type="text/javascript" src="/static/js/query_color.js"></script>
  <script type="text/javascript" src="/static/js/query_text.js"></script>
</head>

<body>
<h1>AIC2022 UIT-RainbowShine</h1>


<div class="row prevent-select">
  <!--Column 1: Text-->
  <div class="column left">
    <input class="textinput" type="text" id="textinput" placeholder="Enter a query...">
    <br><br>
    <button class="button2" onclick="clearText()">Clear</button>
    <button class="button1" onclick="queryText()">Search</button>
    <br><br>
    <textarea id="textarea" rows="30" disabled></textarea>

    <!--COLOR PICKER -->
    <!--<div class="colorPicker"></div>-->
    <!--<br><br>-->
    <!--<canvas id="canvas1" width="200px" height="200px"></canvas>-->
    <!--<br>-->
    <!--<input type="checkbox" name="globalc" id="checkbox">-->
    <!--<label for="globalc"> Use global color?</label>-->
    <!--<canvas id="canvas2" width="40px" height="40px"></canvas>-->
    <!--<br><br>-->
    <!--<button class="button2" onclick="drawBox(true)">Reset</button>-->
    <!--<button class="button1" onclick="queryColor()">Search</button>-->
    
  </div>

  <!--Column 2: Images-->
  <button class="button2" onclick="resetSelect()">Reset</button>
  <button class="button1" onclick="selectAll()">Select all</button>
  <br><br>
  <div class="column right">
    <div id="image-grid">
    </div>
  </div>
</div>

    <!--<script>drawBox(false); loadImages({{ image_indices }});</script>-->

</body>
</html>
